.c2 {
  width: 68vw;
  height: 103vh;
  background-color: #ebebeb;
}

.c6 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 1%;
  height: 8vw;
  background-color: #0085ff;
}

#ww {
  padding-top: 3vh;
  font-size: 3.5vw;
  font-weight: 600;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: absolute;
}
#we {
  font-size: 1.1vw;
  font-weight: 600;
  color: white;
  letter-spacing: 2px;
  position: absolute;
  padding-top: 5.1vw;
}

.hb1 {
  margin: 10px;
  height: 200px;
  width: 200px;
  border-radius: 15px;
}

.cc1 {
  display: flex;
  flex-wrap: wrap;
  height: 85vh;
  overflow-y: scroll;
}

#logo2 {
  width: 10vw;
  padding-top: 0.2vw;
  position: relative;
  opacity: 0.2;
}

.lvl1 {
  margin: 0.8%;
  height: 3vw;
  width: 66vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #686868;
}

.lvl1txt {
  font-size: 2vw;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.lvl1cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 0.7vw;
}
.iconset {
  display: flex;
  width: 5vw;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 0.9vw;
  font-size: 1.4vw;
}
.lvl1ssc {
  display: flex;
  align-items: center;
  background-color: white;
  width: 9.5vw;
  height: 1.5vw;
  padding-left: 0.2vw;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 8px 20px 0 rgba(0, 0, 0, 0.2);
  font-size: 1.2vw;
}

.lvl1ssc > input {
  border: none;
  width: 5vw;
  height: 1vw;
  margin-left: 0.2vw;
  font-size: medium;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

::placeholder {
  font-size: 0.9vw;
}
.lvl2 {
  margin-top: 1%;
  margin-left: 1.6vw;
  margin-right: 2vw;
  height: 100%;
}

.lvl3 {
  margin-top: 1%;
  height: 10.4vw;
  display: flex;
  flex-direction: column;
}

.lvl3txt {
  font-size: 1.2vw;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #686868;
}

.lvl3box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
}

.recentbox {
  margin-left: 0.3%;
  margin-right: 0.3%;
  margin-top: 0.5%;
  margin-bottom: 1%;
  width: 19.5vw;
  background-color: #ffffff;
  height: 8vw;
  border-radius: 7px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.recentbox:hover {
  transform: scale(1.01);
}

#rrec {
  width: 100%;
}

.recentdown {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1%;
  margin-left: 2%;
  margin-right: 3%;
  font-family: "Inter", sans-serif;
  color: #686868;
  font-weight: 600;
}

.recentsubname {
  font-size: 1.1vw;
  text-align: left;
  width: 9.5vw;
}
.recentsubcode {
  font-size: 1vw;
}

.lvl4 {
  width: 100%;
  margin-bottom: 0.8vw;
  margin-top: 0.6vw;
  margin-right: 0.3%;
  display: flex;
  justify-content: center;
}

#banner {
  width: 99%;
}
.lvl5 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1vw;
}
.dscard {
  background-color: #ffffff;
  width: 19.5vw;
  height: 8.5vw;
  margin-bottom: 2vw;
  border-radius: 7px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
  display: flex;
  flex-direction: row;
}
.dscard:hover {
  transform: scale(1.1);
}
.dashcardlf {
  width: 45%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.dashimgcard {
  width: 9vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#dimg {
  width: 8vw;
}

.dashcardrt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 55%;
  font-family: "Inter", sans-serif;
  color: #686868;
  margin-left: 0.5vw;
}

.dashtitle {
  font-size: 1.2vw;
  font-weight: 700;
  text-transform: uppercase;
}

.dashinfo {
  font-size: 0.9vw;
  font-weight: 500;
  width: 100%;
}

.coursecard {
  width: 62vw;
  height: 6.2vw;
  margin-top: 2vw;
  display: flex;
  flex-direction: row;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

#cc1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12vw;
}
#cc2 {
  width: 38vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#cc3 {
  width: 12vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
#crec {
  width: 94%;
}
#cc31 {
  width: 80%;
  height: 50%;
  background: #0085ff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-family: "Inter", sans-serif;
  color: #ffffff;
  font-size: 0.95vw;
  cursor: pointer;
}

#cc31:hover {
  transform: scale(1.05);
}

#cc21 {
  margin-left: 0.6vw;
  font-family: "Inter", sans-serif;
  font-weight: 800;
}

#cc211 {
  font-size: 1.3vw;
  color: #000000;
}
#cc212 {
  margin-top: 0.2vw;
  font-size: 0.96vw;
  color: #686868;
}

.prof0 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.prof1 {
  width: 100%;
  height: 11vw;
  display: flex;
  flex-direction: row;
  margin-left: 1.5vw;
}

.prof2 {
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 0.5vw;
}

.prof21 {
  width: 40%;
  height: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.prof22 {
  width: 60%;
  height: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.prof211 {
  width: 95%;
  height: 55%;
  background: #e0e0e0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 0.9vw;
  color: #686868;
}
.prof212 {
  width: 95%;
  height: 35%;
  background: #e0e0e0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-top: 1vw;
}

.prof221 {
  width: 95%;
  height: 95%;
  background: #d9d9d9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
}

#profimg {
  height: 100%;
  border-radius: 50%;
  border: 0.25vw solid #ffffff;
}

.profimgg {
  display: flex;
  height: 10vw;
  width: 10vw;
  justify-content: center;
  align-items: center;
  border-radius: 80%;
  border: 0.45vw solid #0085ff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}
.prof11 {
  margin-left: 2vw;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  margin-top: -2vw;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  color: #686868;
}

#prof111 {
  text-transform: uppercase;
  letter-spacing: 0.1vw;
  font-size: 2vw;
}
#prof112 {
  font-size: 1.7vw;
  letter-spacing: 0.1vw;
}

.prof2111 {
  margin-left: 1.5vw;
  width: 8vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.prof2112 {
  width: 8vw;
  margin-left: 1.5vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
